
.body{
    align-items: center;
    background-color: burlywood;
    height: 500px;
    display: flex;
    place-content: center;
}

.judul{
    font-size: xx-large;
    padding: 10px;
    background-color:red;
    display: flex;
    width: 25%;
}

.textParagraph{
    margin: auto;
    width: 40%;
    font-size: larger;
    text-align: justify;
    padding: 10px;
}
.name{
    background-color:lightblue;
    width: 50%;
}

@media only screen and (max-width : 800px){
    .name{
        width: 90%;
    }
}