.main{
    background-color: burlywood;
}

.main h1{
    display: flex;
    justify-content: center;
}


form{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form *{
    width: 15vw;
    padding-bottom: 2px;
}


.check{
    display: flex;
    padding-top: 2%;
}

button{
    height: 30px;
}

@media only screen and (max-width : 800px) {
    form *{
        width: 25vw;
    }
}
